html
  body
    div(style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 0;font-family: 'Noto Sans KR', sans-serif;font-family: 'Noto Sans KR', sans-serif;padding: 30px 10px;background-color: #f8f8f8;")
      div(style='-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 0;max-width: 768px;width: 100%;margin: 30px auto;margin-top: 70px;padding: 50px 40px;background-color: #fff;border: 1px solid #e6e6e6;border-radius: 7px;')
        div(style='-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 0;margin-bottom:20px;')
          img(style='-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 0;width:170px;', src='https://www.gofounder.net/assets/logo-gofounder-active.png')
        h1(style='-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 0;color: #333;font-size: 29px;margin: 30px 0 20px;') 고파운더에서 새로운 소식을 전해드립니다! :) 
        p(style='-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 0;font-size: 15px;font-weight: 500;line-height: 1.75;color: #555;margin-bottom: 10px;')
          | 안녕하세요, 고파운더입니다. 알림에 따른 메일을 보내드려요. 고파운더에서 좋은 동료를 만나고 새로운 프로젝트를 시작할 수 있도록 최선을 다해 돕겠습니다.
          | #{contents}
        br
        p(style='-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 30px 0;text-align:left;')
          a(href='#{url}')
            button(style='cursor:pointer;text-decoration:none;text-align: center;width:300px;max-width:70%;font-size: 15px;display: inline-block;padding: 10px 25px;color: white;background: #3C96FF;border: 2px solid transparent;border-radius: 5px;') 보러가기
        p(style='-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 0;font-size: 15px;font-weight: 500;line-height: 1.75;color: #555;margin-bottom: 10px;')
          | 확인을 하셨다면 꼭 답변을 해주세요. 옷깃만 스쳐도 인연이니까요! 좀 부탁드릴게요. 사랑합니다!
        p(style='-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 0;font-size: 15px;font-weight: 500;line-height: 1.75;color: #555;margin-bottom: 10px;')
          | 더불어, 서비스에 불만사항이나 새로운 제안이 있으시다면 서비스 내 '연락하기' 기능을 활용해주세요 :) 언제나 발전하는 고파운더가 되겠습니다.
